
[
    "name": "Catagory name here",
    "role":
    [
        {
            "roleid": "Role ID here", 
            "emojiid": "Emoji ID here"
        },
        {
            "roleid": "Role ID here", 
            "emojiid": "Emoji ID here""
        }
    ], 
    "name": "Catagory name here",
    "role":
    [
        {
            "roleeid": "Role ID here", 
            "emojiid": "Emoji ID here"
        },
        {
            "roleeid": "Role ID here", 
            "emojiid": "Emoji ID here""
        }
    ]
}
