{
    catagory: "Catagory name here",
    "roles" :
    [
        {
            "id": "Role ID here", 
            "emoji": "Emoji ID here"
        },
        {
            "id": "Role ID here", 
            "emoji": "Emoji ID here""
        }
    ]
}